/* styles/Footer.css */
.footer {
    background-color: white;
    border-top: 1px solid #e5e7eb; /* Gray-200 */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .footer .nav {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
  }
  
  .footer .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #060f5f; /* Gray-600 */
  }
  
  .footer .nav-item.active {
    color: #060f5f; /* Green-600 */
  }
  
  .footer .nav-item .icon {
    font-size: 1.5rem;
  }
  
  .footer .nav-item .text {
    font-size: 0.75rem;
  }